<launch>

    <rosparam command="load" file= "/home/patrick/f1_ws/src/perception_ws/src/cfg/opponent_tracker_params.yaml" />   
    <node pkg="perception" type="detect.py" name="detect" output="screen"/> 
    <node pkg="perception" type="dynamic_tracker_server.py" name="dynamic_tracker_server" output="screen"/>
</launch>
